@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans.eot');
  src: url('../fonts/DroidSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DroidSans.woff') format('woff'),
  url('../fonts/DroidSans.ttf') format('truetype'),
  url('../fonts/DroidSans.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: url('../fonts/DroidSerif.eot');
  src: url('../fonts/DroidSerif.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DroidSerif.woff') format('woff'),
  url('../fonts/DroidSerif.ttf') format('truetype'),
  url('../fonts/DroidSerif.svg#DroidSerif') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ----------------- mixins ------------------

@mixin h2-std {
  margin-top: 120px;
  font-family: "Droid Sans", sans-serif;
  font-size: 45px;
  text-align: center;
}

//------------shared styles -------------------

.body {
  font-family: "Droid Sans", sans-serif;
  color: #2c3e50;

}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  //background-color: silver;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

//------------------ main styles --------------

//
.intro-bg {
  background: url("../img/header-background.png") center no-repeat;
  background-size: cover;
  height: 777px; // TEMP

}

//-------------header--------------------------
header {
  overflow: hidden;

  h1 {
    float: left;
    padding-left: 50px;
    padding-top: 50px;

  }

}

.header-nav {
  float: right;
  margin-top: 50px;
  margin-right: 50px;

  ul {

    list-style-type: none;
  }
  li {
    display: inline-block;
    padding: 0 15px;
    a {
	 color: white;
	 font-family: "Droid Sans";
	 font-size: 22px;
	 font-weight: 400;
	 text-decoration: none;
    }
  }

}

//---------------------  intro  --------------------------

.intro {

  h2 {
    color: white;
    font-family: "Droid Sans", sans-serif;
    font-size: 81px;
    font-weight: 700;
    padding-left: 200px;
    /* display: inline-block; */
    width: 829px;
    text-align: center;
  }
}

//---------------------------  content -------------------------
.content {
  background-color: #34495e;
  height: 1153px; // TEMP

  h2 {
    @include h2-std;
    color: #fff;
  }
  article {
    p {
	 width: 758px;
	 margin: 0 auto;
	 font-family: "Droid Serif", serif;
	 font-size: 24px;
	 color: white;

    }
  }
  ul {
    width: 950px;
    /* margin: 0 auto; */
    margin-left: 210px;
    padding: 0;
    list-style-type: none;

    li:nth-child(n+2) {
      margin-left: 120px;
    }
    li {
      display: inline-block;
      width:200px;
      margin-left: 2px;
      text-align: center;
      color: white;
      img {
        display: block;
        margin: 0 auto;
      }

      h3 {
        font-family: "Droid Sans";
        font-size: 26px;
      }
      p {
        font-family: "Droid Serif";
        font-size: 20px;
      }
    }
  }
}

//-------------------------  icon-group ------------------------
.icon-group {

  background-color: antiquewhite; // TEMP
  height: 1046px; //TEMP
}

//--------------------------  persons  ---------------------------
.persons {

  background-color: #2980b9;
  height: 907px; // TEMP
}

//---------------------------   feedback -------------------------

.feedback {

  background-color: antiquewhite; // TEMP
  height: 860px; //  TEMP
}

//---------------------------   footer  --------------------------
.footer {
  height: 282px; // TEMP
  background-color: #2c3e50;
}
