


.icon-group-list {

  float: left;
  list-style: none;
  li {
    position: relative;
    width: 348px;
    height: 260px;
    overflow: hidden;

  }
  .img {
    min-width: 200px;
    min-height: 200px;

    transition: all 0.3s ease;
    opacity: 1;
  }

  .hover {
    position: absolute;
    //display: none;
    visibility: hidden;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;

    transition: opacity 1s, visibility 0s 1s;

  }

}



.icon-group-list li:hover .hover {
  /*top: 0px;*/
    //display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 0s;
  }







.hover h4 {

}

.hover a {

}