


.icon-group-list {
  position: relative;
  float: left;
  list-style: none;
  li {
    width: 348px;
    height: 260px;
    overflow: hidden;


  }
  .img {
    min-width: 200px;
    min-height: 200px;



  }
  .hover {
    position: absolute;
    display: none;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);

  }

}

.icon-group-list:hover .hover {
  /*top: 0px;*/
  display: block;

}



.hover h4 {

}

.hover a {

}